@font-face {
	font-family: 'CircularBold';
	src: url('./CircularStdBold.eot');
	src: local('CircularStdBold'), url('./CircularStdBold.woff') format('woff'), url('./CircularStdBold.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_79748">Text with this font applied</p> */
.circular {
	font-family: 'CircularBold' !important;
}

/* Font downloaded from FontsForWeb.com */